<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style-home.css">
</head>
<body>
    <div class="header">
        <div class="logo">logo</div>
        <div class="menu">
            <div class="option"><a href = "/eligibility">Check Your Eligibility</a></div>
            <div class="option"><a href = "/home/listings">All Available Schemes</a></div>
        </div>
    </div>
    <div class="content">
        <!-- <div class="name">name</div> -->
        <div class="search-container">
            
            
        </div>
        <!-- <div class="search">
            <input type="text" placeholder="Search here..." />
            <button type="button">Search</button>
        </div> -->
        <div class="features">
            <div class="recommendations">
                <div class="features-title">
                    <i class="fa-solid fa-lightbulb"></i>
                    <h3>Recommendations</h3>
                </div>
                <div class="features-container">
                    <div class="features-card">
                        <div class="feature-content">
                            <img src="/images/school.webp">
                            <div class="card-info">
                                <h3>Pre-Matric Scholarship For Students With Disabilities</h3>
                                <p>sample text sample text sample text sample text sample text sample text</p>
                            </div>
                        </div>
                        <button><a href = "/scheme/pre-dis.json">View Scheme</a></button>
                    </div>
                    <div class="features-card">
                        <div class="feature-content">
                            <img src="/images/agro.jpg">
                            <div class="card-info">
                                <h3>sample title</h3>
                                <p>sample text sample text sample text sample text sample text sample text</p>
                            </div>
                        </div>
                        <button>View Scheme</button>
                    </div>
                    
                    <div class="features-card">
                        <div class="feature-content">
                            <img src="/images/bbbp.jpg">
                            <div class="card-info">
                                <h3>Beti Bachao Beti Padhao</h3>
                                <p>sample text sample text sample text sample text sample text sample text</p>
                            </div>
                        </div>
                        <button><a href = "/scheme/bbbp.json">View Scheme</a></button>
                    </div>
                    <div class="features-card">
                        <div class="feature-content">
                            <img src="/images/agro.jpg">
                            <div class="card-info">
                                <h3>sample title</h3>
                                <p>sample text sample text sample text sample text sample text sample text</p>
                            </div>
                        </div>
                        <button>View Scheme</button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- <div class="footer">footer</div> -->

    </div>
    
</body>
</html>